In [21]:
import glob, os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

df = pd.read_csv('example.csv')
df1 = pd.read_csv('elo.csv')

In [22]:
df['elo_home'] = df1['elo_home']
df['elo_away'] = df1['elo_away']
df['score_gap'] = df1['score_gap']
df['results'] = df1['results']

In [23]:
def cal_score(row):
    if row['results'] == 1:
        return row['score_gap']
    else:
        return (-1)*row['score_gap']
df['score_gap_sign'] = df.apply(cal_score, axis = 1)

In [24]:
df['elo_diff'] = df['elo_home'] - df['elo_away']

In [25]:
df.head()

,Date,Start (ET),Visitor/Neutral,Visitor-Points,Home/Neutral,Home-Points,Overtime,Attend.,Season,Age_Visitor,...,T_BLK_Home,T_TOV_Home,T_PF_Home,T_PTS_Home,elo_home,elo_away,score_gap,results,score_gap_sign,elo_diff
0,Tue Oct 29 2013,7:00 pm,Orlando Magic,87,Indiana Pacers,97,0,18165,2013/2014,24.6,...,5.4,15.1,20.4,96.7,1509.424989,1490.575011,10,1,10,18.849977
1,Tue Oct 29 2013,10:30 pm,Los Angeles Clippers,103,Los Angeles Lakers,116,0,18997,2013/2014,28.1,...,5.4,15.1,19.8,103.0,1509.424989,1490.575011,13,1,13,18.849977
2,Tue Oct 29 2013,8:00 pm,Chicago Bulls,95,Miami Heat,107,0,19964,2013/2014,28.6,...,4.5,14.8,19.5,102.2,1509.424989,1490.575011,12,1,12,18.849977
3,Wed Oct 30 2013,7:00 pm,Brooklyn Nets,94,Cleveland Cavaliers,98,0,20562,2013/2014,30.0,...,3.7,14.2,20.0,98.2,1509.424989,1490.575011,4,1,4,18.849977
4,Wed Oct 30 2013,8:30 pm,Atlanta Hawks,109,Dallas Mavericks,118,0,19834,2013/2014,27.5,...,4.3,13.5,20.0,104.8,1509.424989,1490.575011,9,1,9,18.849977

In [26]:
df = df.drop(['results', 'score_gap', 'Date', 'Start (ET)', 
              'Visitor/Neutral', 'Home/Neutral', 'Attend.', 'Season', 
             'O_G_Visitor', 'O_G_Home', 'T_G_Visitor', 'T_G_Home', 
             'elo_home', 'elo_away'], 1)
df.head()

,Visitor-Points,Home-Points,Overtime,Age_Visitor,W_Visitor,L_Visitor,PW_Visitor,PL_Visitor,MOV_Visitor,SOS_Visitor,...,T_DRB_Home,T_TRB_Home,T_AST_Home,T_STL_Home,T_BLK_Home,T_TOV_Home,T_PF_Home,T_PTS_Home,score_gap_sign,elo_diff
0,87,97,0,24.6,23,59,26,56,-5.44,-0.44,...,34.5,44.7,20.1,6.7,5.4,15.1,20.4,96.7,10,18.849977
1,103,116,0,28.1,57,25,59,23,6.98,0.30,...,32.0,41.0,24.5,7.5,5.4,15.1,19.8,103.0,13,18.849977
2,95,107,0,28.6,48,34,47,35,1.85,-0.66,...,29.2,36.9,22.5,8.9,4.5,14.8,19.5,102.2,12,18.849977
3,94,98,0,30.0,44,38,38,44,-1.00,-0.58,...,32.1,44.1,21.2,7.1,3.7,14.2,20.0,98.2,4,18.849977
4,109,118,0,27.5,38,44,40,42,-0.48,-0.40,...,30.7,40.9,23.6,8.6,4.3,13.5,20.0,104.8,9,18.849977

In [27]:
df['new_score_gap_sign'] = df['score_gap_sign']
df = df.drop(['score_gap_sign'], 1)
df.rename(columns={'new_score_gap_sign': 'score_gap_sign'}, inplace=True)

In [28]:
df.head()

,Visitor-Points,Home-Points,Overtime,Age_Visitor,W_Visitor,L_Visitor,PW_Visitor,PL_Visitor,MOV_Visitor,SOS_Visitor,...,T_DRB_Home,T_TRB_Home,T_AST_Home,T_STL_Home,T_BLK_Home,T_TOV_Home,T_PF_Home,T_PTS_Home,elo_diff,score_gap_sign
0,87,97,0,24.6,23,59,26,56,-5.44,-0.44,...,34.5,44.7,20.1,6.7,5.4,15.1,20.4,96.7,18.849977,10
1,103,116,0,28.1,57,25,59,23,6.98,0.30,...,32.0,41.0,24.5,7.5,5.4,15.1,19.8,103.0,18.849977,13
2,95,107,0,28.6,48,34,47,35,1.85,-0.66,...,29.2,36.9,22.5,8.9,4.5,14.8,19.5,102.2,18.849977,12
3,94,98,0,30.0,44,38,38,44,-1.00,-0.58,...,32.1,44.1,21.2,7.1,3.7,14.2,20.0,98.2,18.849977,4
4,109,118,0,27.5,38,44,40,42,-0.48,-0.40,...,30.7,40.9,23.6,8.6,4.3,13.5,20.0,104.8,18.849977,9

In [29]:
df.to_csv('final.csv', index=False)

In [30]:
df_clean = df.iloc[600:]
df_clean = df_clean.reset_index(drop = True)
df_clean.head()

,Visitor-Points,Home-Points,Overtime,Age_Visitor,W_Visitor,L_Visitor,PW_Visitor,PL_Visitor,MOV_Visitor,SOS_Visitor,...,T_DRB_Home,T_TRB_Home,T_AST_Home,T_STL_Home,T_BLK_Home,T_TOV_Home,T_PF_Home,T_PTS_Home,elo_diff,score_gap_sign
0,91,93,0,25.4,25,57,28,54,-4.46,-0.51,...,32.4,42.0,21.0,7.7,4.3,14.9,20.5,96.5,-33.249042,2
1,103,117,0,26.0,36,46,35,47,-2.15,0.75,...,31.7,43.0,19.1,8.4,4.6,15.3,21.9,105.2,34.878124,14
2,82,110,0,24.7,15,67,20,62,-8.18,-0.23,...,34.0,43.3,25.2,7.4,5.1,14.4,18.2,105.4,303.949571,28
3,112,106,0,26.8,27,55,25,57,-6.29,0.96,...,31.1,42.5,21.2,7.0,4.2,14.1,23.0,101.3,88.639727,-6
4,114,121,0,30.6,54,28,54,28,4.76,-0.61,...,31.3,40.0,24.9,8.3,4.0,15.3,19.2,101.0,-87.770788,7

In [31]:
X = df_clean.drop(['score_gap_sign'], axis = 1)
y = df_clean['score_gap_sign']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 66)

In [32]:
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
pred = linreg.predict(X_test)
error = np.sqrt(mean_squared_error(y_test, pred))
print(error)

5.153290816693446e-14